ul.menuMainCustomer li a{
    display: block;
    width: 58px;
    height: 58px;
    margin: 0px auto;
    border-radius: 50%;
    margin-bottom: 21px;
    background: url(../img/spriteicon-customer.svg) no-repeat 17px -109px;
    background-size: 30px 570px;
}
ul.menuMainCustomer li a:hover, ul.menuMainCustomer li a.active{
    background-color: #FFF;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.1);
}
ul.menuMainCustomer li a.iconOrder{
    background-position: 17px -109px;
}
ul.menuMainCustomer li a.iconOrder:hover, ul.menuMainCustomer li a.active.iconOrder{
    background-position: 17px -180px;
}
ul.menuMainCustomer li a.iconDrivers{
    background-position: 13px -231px;
}
ul.menuMainCustomer li a.iconDrivers:hover, ul.menuMainCustomer li a.active.iconDrivers{
    background-position: 13px -277px;
}
ul.menuMainCustomer li a.iconSettings{
    background-position: 16px -341px;
}
ul.menuMainCustomer li a.iconSettings:hover, ul.menuMainCustomer li a.active.iconSettings{
    background-position: 16px -384px;
}


@media (max-width:1024px) {
  ul.menuMainCustomer li a{ width: 50px; height: 50px; }
  ul.menuMainCustomer li a.iconOrder:hover, ul.menuMainCustomer li a.active.iconOrder{ background-position: 13px -178px;}
  ul.menuMainCustomer li a.iconOrder{ background-position: 13px -114px;}
  ul.menuMainCustomer li a.iconDrivers{ background-position: 14px -235px;}
  ul.menuMainCustomer li a.iconDrivers:hover, ul.menuMainCustomer li a.active.iconDrivers{ background-position: 15px -289px; }
  ul.menuMainCustomer li a.iconSettings{ background-position: 10px -346px;}
  ul.menuMainCustomer li a.iconSettings:hover, ul.menuMainCustomer li a.active.iconSettings{ background-position: 10px -409px;}
}
