/*!
 * https://github.com/YouCanBookMe/react-datetime
 */
 .elloaA .react-data-table--cell-content{
     transform: none !important;
 }
.rdt {
  position: relative;
}
.rdtDays > table{
  padding: none;
}
.rdtPicker {
  position: absolute;
  width: 300px;
  padding: 0;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
  right: 0;
  display: none;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}
.gVZomo{
  overflow-x: visible !important;
}
.cOaGrx{
  min-height:20px !important
}

.sc-kkGfuU path:first-child{
  display: none !important;
}

#pagination-first-page{
    border-radius: 5px 0px 0px 5px !important;
}
#pagination-first-page svg, #pagination-previous-page svg, #pagination-next-page svg{
    color: #a7b1bb;
    vertical-align: top;
    cursor: pointer;
}
#pagination-last-page{
    border-radius: 0px 5px 5px 0px !important;
}
#pagination-last-page svg{
    color: #a7b1bb;
    vertical-align: top;
    cursor: pointer;
}

.sc-eNQAEJ, .fWmJgw{
  height: auto !important;
}

.sc-bdVaJa, .bTnnmE{
  height: 550px !important;
  overflow: auto;
}

.fixedAssignDriver{
    font-size: 15px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 9999999
}

.fixedAssignDriver .modal-dialog{
  position: fixed;
  right: 0;
    max-width: 1200px;
    margin: 0px 0px 0px auto;
    height: 100vh;
    background-color: #f4f6f9;
    overflow: auto;
    padding: 50px;
}

.fixedAssignDriver .modal-body{
    padding: 0px;
    height: 100%;
}
.fixedAssignDriver .modal-content{
    border:none;
    height: 100%;
    background-color: transparent;
}
.fixedAssignDriver h4{
    font-size: 18px;
}


/*job id marquee*/
.marquee {

    white-space: nowrap;
    overflow: hidden;
}

.marquee a {
  animation-play-state: paused;
}

ul.listJobNo li a{
  overflow: hidden;
}

.marquee a:hover {
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;
  animation: marquee 5s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.op-dis{
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.op_act{
  color: black;
}

.Toaster__alert_close{
  display: none;
}

.CircularProgressbar{
  width: 80px !important;
}

.Toaster__manager-top{
  z-index: 550000000000000000000000000
}
.modal-body{
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.jnUYvt, .gOFzXI{
  white-space:normal !important;
}
/* .mxwbD{
  bottom:15%;
  position:absolute;
  -webkit-animation:linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 8s;

}
@-webkit-keyframes run {
    0% { left: 0;}
    50%{ left : 100%;}
    100%{ left: 0;}
} */


#orderComments{
  overflow: auto;
    height: 120px;
}
