.hori-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hori-menu li{
    display: inline;
    margin-right: 10px;
    font-size: 14px;
}
.vert-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.vert-menu li{
  margin: 0;
  padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
.job-list li{
    padding: 5px;
}
.driver-info td{
  padding: 5px;
}
.assign-driver{
    position: fixed;
    right: 0;
    top: 0;
}
